@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
@import 'responsive';

html {
  height: 100%;
  min-height: 100%;
}

body {
  min-height: 100%;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
}
.content {
  max-width: 898px;
  width: 100%;
  margin: 0 auto;
}

header {
  .icon-top-new {
    width: 16px;
    height: 16px;
  }

  .top-menu {
    text-align: right;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 0 20px;
        padding: 0;
        display: inline-block;
        vertical-align: middle;

        a {
          color: #2B2B2B;
          font-size: 12px;
          text-decoration: none;
          font-weight: 500;

          img {
            height: 16px;
            width: 16px;
          }

          &.btn-register {
            color: #023c77;
          }

          &.btn-login {
            color: #2bb291;
          }
        }
      }
    }
  }

  .mid-head {
    background: #003060;
    height: 96px;
  }

  .main-menu {
    background: #2BB291;
    height: 52px;
    line-height: 52px;

    ul {
      height: 100%;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-right: 20px;

        a {
          font-weight: 600;
          text-decoration: none;
          color: #000;
          text-transform: uppercase;
        }

        &.active,
        &:hover {
          a {
            color: #FFF;
          }
        }
      }
    }

    .right-menu-link {
      border: 1px solid #FFF;
      height: 25px;
      color: #FFF;
      text-decoration: none;
      line-height: 25px;
      display: inline-block;
      padding: 0 10px;

      img {
        height: 16px;
        vertical-align: text-bottom;
        width: 16px;
        margin-right: 6px;
      }
    }
  }
}

.banner {
  background: #0f3bfe;

  img {
    max-width: 100%;
  }
}
.line{
  height: 0;
  width: 100%;
  border-bottom: 1px solid #E0E0E0 ;
}
main {
  margin-top: 15px;
  .main-content {
    .left-content {
      .item-big {
        .title {
          color: #02C998;
        }
        max-width: 250px;
      }
    }

  }

  .block-items {
    .label {
      height: 32px;
      background: #023C77;
      width: 100%;
      padding: 0 10px;
      line-height: 32px;
      font-size: 13px;
      font-weight: 500;
      color: #FFF;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    .items{
      display: flex;
      img {
        width: 45%;
        margin-right: 10px;
      }

      .title{
        font-size: 14px;
        font-weight: bold;
        margin-top: 10px;
        display: inline-block;
        margin-bottom: 3px;
      }
      h5{
        color: #02C998;
        font-size: 10px;
        font-weight: 400;
        margin-bottom: 10px;
        span{
          text-transform: uppercase;
          font-weight: 600;
        }
      }
      p{
        font-size: 12px;
        color: #2B2B2B;
        font-family: Lora, Roboto,sans-serif;
      }
      &.item-big{
        flex-direction: column;
        img {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}
