*:focus {
    outline: none;
}

.breadcrumb-item a{color: #959595;font-size: 10px}
.breadcrumb-item.active{color: #959595;font-weight: bold}
.breadcrumb-item+.breadcrumb-item::before{content: ">";font-weight: 300;padding-right: 3px}
.breadcrumb-item+.breadcrumb-item{padding-left: 3px}

.tv_title{font-family: "Montserrat";font-size: 21px;text-align: center;color: #555;font-weight: 600;position: relative;margin-bottom: 20px}
.tv_title span{color: #2BB291}
.tv_title::after{width: 92px;background-color: #02C998;height: 1px;content: "";position: absolute;left: 0;right: 0;bottom: -15px;z-index: 1;margin: 0 auto}
.tv_title_note{font-size: 12px;color: #9A9A9A;text-align: center;margin-bottom: 20px}
.tv_title_note span{font-weight: bold}

.tv_search{width: 400px;margin: 0 auto 20px}
.tv_search_input{width: 358px;height: 28px;border-radius: 5px 0 0 5px;border: 1px solid #AAA;border-right: 0;padding: 0 15px;float: left}
.tv_search_button{width: 40px;height: 28px;background: #02C998 url("../images/Icon-search.png") no-repeat center center;border: none;float: left;border-radius: 0 5px 5px 0}

.tv_category{margin-bottom: 20px;background-color: #181E2E;padding: 25px 0}
.tv_category_build{padding: 0;margin: 0}
.tv_category_build li{float: left;margin-left: 15px;list-style: none}
.tv_category_build li a{display: block;font-weight: bold;color: #FFF;background-color: #023C77;padding: 5px 10px;font-size: 11px}
.tv_category_build li a:hover,.tv_category_build li a.active{background-color: #02C998}

.tv_list{margin-bottom: 20px}
.tv_list_build{margin: 0;padding: 0}
.tv_list_build li{float: left;margin-right: 11px;margin-bottom: 5px;width: 140px;list-style: none}
.tv_list_build li:nth-child(6n){margin-right: 0}
.tv_list_build_img{height: 105px;display: block;margin-bottom: 5px}
.tv_list_build_title{height: 60px;display: block;overflow: hidden;font-size: 11px;font-weight: bold;color: #808080}